<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="form-group">
			<%= form_for([@post, @post.comments.build]) do |f| %>
				<p>
					<%= f.text_field :commenter, class: "form-control", placeholder: "Your name *" %>
				</p>
				<p>
					<%= f.text_area :body, class: "form-control", rows: "10", placeholder: "Write your comment here!" %>
					</p>
				<p>
					<%= f.submit "Post Comment", class: "btn btn-default" %>
				</p>
			<% end %>
		</div>
	</div>
</div>
