<div class="container">
	<h1>Thank you for your message.</h1>
	<p>I'll get back you you as soon as possible.</p>
	<p>
		<%= link_to "Back to Contact page", contact_path %> | 
		<%= link_to "Back to Home page", root_path %>
	</p>
</div>