<div class="container">
	<article>
	<% @post.each do |post| %>
		<div class="post_header">
			<h2 class="post_title"><%= link_to post.title.titleize, post %></h2>
			<h5 class="date"><%= post.created_at.strftime('%B %d, %Y') %> | 
			Comments: <%= post.comments.count %>      	
			</h5>
		</div>
		<div class="post_body">
			<div id="post_content"><%= raw post.body %></div>
		</div>
		<div>
		<hr>
		</div>
	<% end %>
	</article>
</div>