<div class="container">
	<section>
	<% @post.each do |post| %>
	<% if post.published.to_s == "true" || current_user.try(:admin?) %>
		<div class="post_header">
			<h2 class="post_title"><%= link_to post.title.titleize, post %></h2>
			<% if post.published.to_s == "false" %>
				<h5 class="post_status">(Unpublished)</h5>
			<% end %>
			<h5 class="date"><%= post.created_at.strftime('%B %d, %Y') %> | 
			Comments: <%= post.comments.count %>      	
			</h5>
		</div>
		<article class="post_body">
			<%= raw post.body %>
		</article> 
		<footer class="post_footer">
		<hr>
		</footer>
	<% end %>	
	<% end %>
	</section>
</div>