@import "bootstrap-sprockets";
@import "bootstrap";

@import "social-share-button";

@import url('https://fonts.googleapis.com/css?family=Lato|Nunito+Sans|Roboto');

/* General */ 


html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body { 
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	font-family: 'Roboto','Nunito Sans', 'Lato', sans-serif;
	/* padding-top: 2.500em; */
	font-style: normal;
	color: black;
}

/* Header */ 

.col-centered {
    float: none;
    margin: 0 auto;
}

.main_nav {
	/* background-color: white; */
	border-bottom: 5px #064441;
	/* border-color: white; */
}


ul.nav {
	padding: 20px 0;
}

button.navbar-toggle {
	padding: 20px 0;
}

.navabar-header {
}

.navbar-brand {
	width: 80px;
	height: 80px;
	margin: 10px 10px 10px 10px;
	background-image: image-url("logo.jpg");
	background-size: cover;
	display: inline-block;
	border-radius: 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
}

.navbar-brand:hover {
	background-image: image-url("logo.jpg");
	opacity: 0.9;
	border: 300px;
	border-color: #064441;

}


/* Posts */ 

h2.post_title {

	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 36px;
	letter-spacing: 0.5px;
	font-weight: 900;


	a {
	color: #064441;
	letter-spacing: 0.5px;
	font-weight: 900;
	}

	a:hover {
		text-decoration: none;
		color: #333535;
	}
}

h5.date {
	font-size: 12px;
}

article.post_body {
	display: block;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 1.58;
	letter-spacing: 0.5px;
	float: left;
	color: rgba(0,0,0,.8);
}


header.post_header {
	line-height: 1.4;
	letter-spacing: 0;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: rgba(0,0,0,.44);
	fill: rgba(0,0,0,.44);
}


div.post_bottom_nav {
	padding: 5px 0 5px 0;
	text-align: center;

	a {
		color: #064441;
		padding: 8px;
		}

	a:hover {
		color: black;
		text-decoration: none;
	}
}


div.thumbnail {
	float: left;
	display: block;

}

/* Post Footer  */ 

/* Socail Share Buttons */

$size: 14px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

/*div.social-share-button {
	text-align: center;
}*/


footer.post_footer {
	clear: both;

	p.social_share {
		text-align: center;
	}
}

.tags {

	a {
		font-size: 13px;
		letter-spacing: 0;
		text-decoration: none;
		font-weight: 400;
		font-style: normal;

		border: none;
		color: rgba(0,0,0,.6);
		background: rgba(0,0,0,.05);
		margin-right: 6px;
		margin-bottom: 6px;
		display: inline-block;
		position: relative;  /* not sure  */ 

		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;


		padding-top: 5px;
		padding-right: 10px;
		padding-bottom: 5px;
		padding-left: 10px;
	}

	a:hover {
		background: rgba(0, 0, 0, 0.09);

	}
}


/* Footer */  

footer#main {

}

/*
div {
	border: 2px solid black;
}
*/

/* Comments */ 


h2.comment_section {
	line-height: 200%;

}

h5.comment_author {
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}

h5.comment_date {
	line-height: 1.4;
	letter-spacing: 0;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	color: rgba(0,0,0,.44);
	fill: rgba(0,0,0,.44);

}

p.comment_body {
	font-size: 16px;
	display: block;
	font-weight: 400;
	font-style: normal;
	line-height: 1.58;
	letter-spacing: 0.5px;
	color: rgba(0,0,0,.8);
}


/* flash  */
 
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
 }

/* Tags   */


.css1 { font-size: 1.0em;}
.css2 { font-size: 1.2em;}
.css3 { font-size: 1.4em;}
.css4 { font-size: 1.6em;}