@import "bootstrap-sprockets";
@import "bootstrap";

/* General */ 

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body { 
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;

	padding-top: 40px; 
	font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
	font-size: 14px;
	color: #064441;
}

h2.post_title {

	color: #064441;
	font-size: 26px;
	font-style: bold;

	a {
	color: #064441;
	font-size: 26px;
	font-style: bold;
	}

	a:hover {
		text-decoration: none;
		color: #333535;
	}
}

section.main_body {
	margin-top: 40px;
}


h5.date {
	font-size: 10px;
}

div.container {
	margin-left: 50px;

}

.hidden { display: none; }

/* Header */ 


nav.main_header {
	background-color: white ;
	padding-top: 5px;

}

ul#main_nav { 
	list-style-type:none;
	margin: 0;
    padding: 20px 0 0 30px;
    overflow: hidden;
    display: inline;

    position: fixed; /* Make it stick, even on scroll */
    overflow: auto;

	li {
		float: left;
		display: inline;

		a {
			display: block;
			padding: 8px;
			background-color: #18998e;
			color: white;
		}

		a.admin_button {

			background-color: #4f7563;
			color: white;

		}

		a.user_button {

			background-color: #4f7563;
			color: white;

		}

		a:hover {
			color: white;
			background-color: #064441;
			text-decoration: none;
		}
	}
}


div#circle_logo {
	width: 80px;
	height: 80px;
	background-image: image-url("logo.jpg");
	background-size: cover;
	display: inline-block;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-bottom-right-radius: 50px;
	-webkit-border-bottom-right-radius: 50px;
	-moz-border-bottom-right-radius: 50px;
	float: right;
}

div#circle_logo:hover {
	background-image: image-url("logo.jpg");
	opacity: 0.9;
	border: 300px;
	border-color: #064441;

}

div.error_messages {

}
div.flash_messages {
	margin-top: 30px;
	margin-left: 15px;
	margin-bottom: 0px;
	display: inline-block;
}

div.flash_wrapper {
text-align: center;
}

ul#admin_nav {
	list-style-type:none;
}

#admin_tab {
	width: 90%;
	text-align: left;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 0 0 0;
}

/* Posts */ 

div#post_content {
	display: block;
	float: left;
	padding: 0 0 0 0;
} 
 
.post_body {
	padding: 10px 0 10px 0;
}

div.post_bottom_nav {
	padding: 5px 0 5px 0;
	text-align: center;
}

article.about_page {

}

div.thumbnail {
	float: left;
	display: block;

}

/* Footer */  

/* footer#main {
	display: block;
	padding: 5px 0 5px 0;
	margin: 10px 0 10px 0;
	text-align: center;
	font-size: 10px;
} */

footer#main {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
 /*  background-color: #dae8e3; */
  text-align: center;
  font-size: 10px;
}

/* Comments */ 

div.comments {
	margin-right: 2em;
	margin-left: 2em;

	h3.comment_header { 
		color: #064441;
		font-size: 20px;
		font-style: bold;
	}

	h5.comment_author {
		color: #064441;
		font-size: 14px;
		text-decoration: none;
		font-weight: bold;
	}

	h5.comment_date {
		font-size: 10px;

	}

	div.comment_body {
		border-bottom: 10px;
	}
}

div.comment_form {
	margin-right: 2em;
	margin-left: 2em;

	h2 {
		color: #064441;
		font-size: 22px;
		font-style: bold;
	}
}

/* Post form */ 

.post_body_field {
	width: 90%;
	height: 200px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.post_title_field {
	width: 90%;
	height: 30px;
	border: 3px solid #cccccc;
	padding: 5px;
}

/* Comment form */ 

.comment_body_field {
	width: 50%;
	height: 10em;
	border: 3px solid #cccccc;
	padding: 5px;
}

.comment_author_field {
	width: 50%;
	height: 2em;
	border: 3px solid #cccccc;
	padding: 5px;
}

/* Contact form */ 

.contact_message_field {
	width: 50%;
	height: 10em;
	border: 3px solid #cccccc;
	padding: 5px;

}

.contact_text_field {
	width: 50%;
	height: 2em;
	border: 3px solid #cccccc;
	padding: 5px;
}


.contact_email_field {
	width: 50%;
	height: 2em;
	border: 3px solid #cccccc;
	padding: 5px;
}



/*flash*/

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }